<div class="form-group mb-3">
    <input
    [class.is-invalid] = "ngControl.touched && ngControl.invalid"
    [class.is-valid] = "ngControl.touched && ngControl.valid"
    type="{{type}}"
    placeholder="{{label}}"
    class="form-control"
    [formControl]="$any(ngControl.control)">

    <div 
    class="invalid-feedback"
    *ngIf="ngControl.control?.hasError('required')">
        Please enter a {{label}}
    </div>

    <div 
    class="invalid-feedback"
    *ngIf="ngControl.control?.hasError('minlength')">
        {{label}} can't be less than {{ngControl.control?.getError('minlength').requiredLength}}
    </div>

    <div 
    class="invalid-feedback"
    *ngIf="ngControl.control?.hasError('maxlength')">
        {{label}} can't be more than {{ngControl.control?.getError('maxlength').requiredLength}}
    </div>

    <div 
    class="invalid-feedback"
    *ngIf="ngControl.control?.hasError('notMatching')">
        Passwords don't match
    </div>
</div>
