<div class="container text-center">
    <button class="btn btn-outline-primary me-3 mb-3" (click)="test500Error()">Test 500 Error</button>
    <button class="btn btn-outline-primary me-3 mb-3" (click)="test400Error()">Test 400 Error</button>
    <button class="btn btn-outline-primary me-3 mb-3" (click)="test401Error()">Test 401 Error</button>
    <button class="btn btn-outline-primary me-3 mb-3" (click)="test404Error()">Test 404 Error</button>
    <button class="btn btn-outline-primary me-3 mb-3" (click)="test400ValidationError()">Test 400 Validation Error</button>
</div>

